body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Light grey background */
    background-image: linear-gradient(to bottom right, #ffebf0, #fff); /* Soft pink gradient */
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.home-container, .quiz-container, .quiz-list-container, .quiz-take-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; /* Light grey border for a subtle edge */
}


button {
    display: inline-block; /* Make buttons appear inline */
    width: 15%; /* Adjusted width to fit two buttons on one line */
    padding: 10px;
    margin: 10px; /* Add margin between buttons */
    background-color: pink; /* Button color */
    color: #fff;
    border: 2px solid black; /* Black border around buttons */
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    text-align: center; /* Center text within button */
}

button:hover {
    background-color: #ff66b2; /* Slightly darker pink for hover effect */
}



form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #007bff; /* Blue color for links */
}

a:hover {
    text-decoration: underline;
}
